*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    padding: 2%;

}
.header{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(235, 176, 16);
    height: 40px;
    border: solid 1px;
    margin-bottom: 8px;

}
.nav{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: red;
    height: 40px;
    border: solid 1px;
    margin-bottom: 8px;
}
.aside{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: yellow;
    border: solid 1px;
    height: 35rem;
    width: 55rem;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    margin-bottom: 8px;
    margin-left: 8px;
    border: solid 1px;
    height: 35rem;
    width: 33rem;
    align-items: center;
}
.articulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 15rem;
    width: 24rem;
    margin-bottom: 1rem;
    border: solid 1px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 40px;
    border: solid 1px;
}
.cont{
    display: flex;    

}
.sec{
    margin-top: 20px;
    align-items: center;
}
